<a href="https://colab.research.google.com/github/Abhinavanand56/Machine-Learning-Notebook/blob/main/Python_Tutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!cat /proc/cpuinfo

processor	: 0
vendor_id	: GenuineIntel
cpu family	: 6
model		: 79
model name	: Intel(R) Xeon(R) CPU @ 2.20GHz
stepping	: 0
microcode	: 0xffffffff
cpu MHz		: 2199.998
cache size	: 56320 KB
physical id	: 0
siblings	: 2
core id		: 0
cpu cores	: 1
apicid		: 0
initial apicid	: 0
fpu		: yes
fpu_exception	: yes
cpuid level	: 13
wp		: yes
flags		: fpu vme de pse tsc msr pae mce cx8 apic sep mtrr pge mca cmov pat pse36 clflush mmx fxsr sse sse2 ss ht syscall nx pdpe1gb rdtscp lm constant_tsc rep_good nopl xtopology nonstop_tsc cpuid tsc_known_freq pni pclmulqdq ssse3 fma cx16 pcid sse4_1 sse4_2 x2apic movbe popcnt aes xsave avx f16c rdrand hypervisor lahf_lm abm 3dnowprefetch invpcid_single ssbd ibrs ibpb stibp fsgsbase tsc_adjust bmi1 hle avx2 smep bmi2 erms invpcid rtm rdseed adx smap xsaveopt arat md_clear arch_capabilities
bugs		: cpu_meltdown spectre_v1 spectre_v2 spec_store_bypass l1tf mds swapgs taa mmio_stale_data retbleed
bogomips	: 4399.99
clflush size	: 64
cache_alignment	: 64
address sizes	: 46 bits physical, 48 bits virtual
power management:

processor	: 1
vendor_id	: GenuineIntel
cpu family	: 6
model		: 79
model name	: Intel(R) Xeon(R) CPU @ 2.20GHz
stepping	: 0
microcode	: 0xffffffff
cpu MHz		: 2199.998
cache size	: 56320 KB
physical id	: 0
siblings	: 2
core id		: 0
cpu cores	: 1
apicid		: 1
initial apicid	: 1
fpu		: yes
fpu_exception	: yes
cpuid level	: 13
wp		: yes
flags		: fpu vme de pse tsc msr pae mce cx8 apic sep mtrr pge mca cmov pat pse36 clflush mmx fxsr sse sse2 ss ht syscall nx pdpe1gb rdtscp lm constant_tsc rep_good nopl xtopology nonstop_tsc cpuid tsc_known_freq pni pclmulqdq ssse3 fma cx16 pcid sse4_1 sse4_2 x2apic movbe popcnt aes xsave avx f16c rdrand hypervisor lahf_lm abm 3dnowprefetch invpcid_single ssbd ibrs ibpb stibp fsgsbase tsc_adjust bmi1 hle avx2 smep bmi2 erms invpcid rtm rdseed adx smap xsaveopt arat md_clear arch_capabilities
bugs		: cpu_meltdown spectre_v1 spectre_v2 spec_store_bypass l1tf mds swapgs taa mmio_stale_data retbleed
bogomips	: 4399.99
clflush size	: 64
cache_alignment	: 64
address sizes	: 46 bits physical, 48 bits virtual
power management:

In [ ]:
print("String")

String

In [ ]:
#changing the data type in python
num =5
float(num)
print(float(num))

5.0

In [ ]:
#Basic Data types
number_1 = int(input("Enter the first number: "))
number_2 = int(input("Enter the Secind number: "))
sum = number_1 + number_2
print(sum)

Enter the first number: 234
Enter the Secind number: 456
690

In [ ]:
#floating point
b=2.3
print(b)
type(b)

2.3

float

In [ ]:
#complex number
c= 1+3j
print(c)
type(c)

(1+3j)

complex

In [ ]:
#Conversion of  int to float
x = 10
print(x)
type(x)

10

int

In [ ]:
y = float(x)

In [ ]:
print(y)

10.0

In [ ]:
z = complex(x)
print(z)

(10+0j)

In [ ]:
#Boolean: True and False 
a = True
print(a)

True

In [ ]:
b = False
print(b)
type(b)

False

bool

In [ ]:
a = 7<3
print(a)

False

In [ ]:
#Strings
print("Machine Learning")

Machine Learning

In [ ]:
print('Hello'*5)

HelloHelloHelloHelloHello

In [ ]:
#Slicing
my_string = "Programming"
print(my_string[1:5],my_string[0:7:3],my_string[:7:2])

rogr Pgm Porm

In [ ]:
#String Concatenation
word_1 = "Machine"
word_2 = " Learning"
print(word_1 + word_2)

Machine Learning

Types of Objects in Python:

1.  Immutable Objects
2.  Mutable Objects

Immutable Objects:

1.   int
2.   float
1.   string
2.   bool
5. tuple

Mutable Objects:
1. List
2. Set
3. Disctionary

In [ ]:
#List
#It should be enclosed in square brackets, same as array
my_list = [1,2,3,4,5]
print(my_list)

[1, 2, 3, 4, 5]

In [ ]:
type(my_list)

list

In [ ]:
#list can have multiple datatypes
my_list = [2,3,1.8,"English", True]
print(my_list)

[2, 3, 1.8, 'English', True]

In [ ]:
#list are mutable
my_list.append(7)
print(my_list)

[2, 3, 1.8, 'English', True, 7]

In [ ]:
#print elemnets of  alist using index
#list allow duplicate values but set doesn't
print(my_list[3])

English

In [ ]:
print(len(my_list))

6

In [ ]:
#initiating a empty list
list_2 = []
print(list_2)
list_2.append(23)
print(list_2)

[]
[23]

In [ ]:
#delete a item in list
list_2 = [2,3,1.8,'English',True,5]
print(list_2)

del list_2[2]
print(list_2)

[2, 3, 1.8, 'English', True, 5]
[2, 3, 'English', True, 5]

In [ ]:
#join two list
list_3 = [1,28,7,3,4,5]
list_4 = [8,2,1,7,1,'English']

list5 = list_3 + list_4
print(list5)

[1, 28, 7, 3, 4, 5, 8, 2, 1, 7, 1, 'English']

In [ ]:
#tuple
#immutable and its same as list

tuple1 = (12,3,6,4,5)
print(tuple1)
type(tuple1)
#allows multiple datatypes in a single tuple
tuple2 = (1,2,1.4,"Elizabeth", True)
print(tuple2)

(12, 3, 6, 4, 5)
(1, 2, 1.4, 'Elizabeth', True)

In [ ]:
#converting list to a tuple

my_list = [3,4,5,6]
print(my_list)

my_tuple = tuple(my_list)
print(my_tuple)

[3, 4, 5, 6]
(3, 4, 5, 6)

In [ ]:
print(my_tuple[2])

#tuples are immutable so append won't work

5

In [ ]:
#set--> Curly Brackets
my_set = {1,2,3,4,5}
print(my_set)
type(my_set)

#sets start indexing from 1
#set doesn't allow duplicate values
#SET ARRANGES THINGS IN ASCENDING ORDER
list_6 = [1,2,32345,4,5]
x = set(list_6)
print(x)

{1, 2, 3, 4, 5}
{1, 2, 4, 5, 32345}

In [ ]:
#Dictionaries
#key-Value-Pair

my_dictionary = {'name': 'david', 'age':30, 'Country': 'India'}
print(my_dictionary)
type(my_dictionary)

{'name': 'david', 'age': 30, 'Country': 'India'}

dict

In [ ]:
print(my_dictionary['name'])
print(my_dictionary['age'])
print(my_dictionary['Country'])

david
30
India

In [ ]:
#dictionary doesn't allow duplicate values
dictionary_1 = {'name': 'david', 'age':30, 'Country': 'India','name': 'david', 'age':30, 'Country': 'India'}
print(dictionary_1)

{'name': 'david', 'age': 30, 'Country': 'India'}

If-else statement in Python

In [ ]:
a=30 
b=50

if(a>b):
  print('a is the greater number')
else:
  print('b is the greater number')

b is the greater number

In [ ]:
a = int(input('Enter the first number: '))
b = int(input('Enter the secind number: '))

if(a>b):
  print('a is the greater number')
else:
  print('b is the greater number')

Enter the first number: 2345
Enter the secind number: 345678
b is the greater number

In [ ]:
#if elif else statement
a=15
b=25
c=25

if(c<a>b):
  print('a is the greatest number')
elif(a<b>c):
  print('b is the greatest number')
else:
  print('c is the greatest number')

c is the greatest number

In [ ]:
#nested if statement
a=20
b=40
c=60

if(a>b):
  if(a>c):
    print('a is the greatest number')
  else:
    print('c is the greatest number')
else:
  if(b>c):
    print('b is the greatest number')
  else:
    print('c is the greatest number')

Loops in Python

In [ ]:
#for loop
laptop1 = int(input('Enter the price of the laptop: '))
laptop2 = int(input('Enter the price of the laptop: '))
laptop3 = int(input('Enter the price of the laptop: '))
laptop4 = int(input('Enter the price of the laptop: '))
laptop5 = int(input('Enter the price of the laptop: '))

Enter the price of the laptop: 20000
Enter the price of the laptop: 30000
Enter the price of the laptop: 40000
Enter the price of the laptop: 50000
Enter the price of the laptop: 60000

In [ ]:
for i in range(5):
  laptop_price = int(input('Enter the price of laptop: '))

Enter the price of laptop: 1234567
Enter the price of laptop: 345678
Enter the price of laptop: 23456765432
Enter the price of laptop: 3546
Enter the price of laptop: 42354678907863241345687

In [ ]:
num = [50,100,150,200]

for i in num:
  print(i)

50
100
150
200

In [ ]:
num = [50,100,150,200]
i=0

while i<10:
  print(i)
  i+= 1

0
1
2
3
4
5
6
7
8
9

In [ ]:
#fucntions in python
#Factorial of a number

number = int(input("Enter the number to find its factorial : "))

factorial = 1
if number == 0:
  print("The Factorial of ",number," is 1")
else:
  for i in range(1,number+1):
    factorial = factorial*i
  print("The factorial of", number,"is",factorial)

Enter the number to find its factorial : 6
The factorial of 6 is 720

In [ ]:
#creating a factorial function
def factorial_value(number):

  factorial =1

  if number ==0:
    return factorial
  else: 
    for i in range(1, number+1):
      factorial = factorial*i
    return factorial

In [ ]:
print(factorial_value(5))

120

In [ ]:
print(factorial_value(34))

295232799039604140847618609643520000000